/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* カラー変数 */
  --base-black:  #4B4B4B;
  --base-gray: #e7e7e7;
  --color-admin:#e6f4f1;
  --color-user:#002c44;
  --color-editor: #f49949;
  --color-red: #FF0000CC;
  --color-light-red: #FFECEC;

  /* テキスト変数 */
  --text: 16px;
  --font: yakuhanjp, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', meiryo, 'MS PGothic', sans-serif;
  --font-serif: 'Hiragino Mincho ProN', 'Yu Mincho', 'HGMinchoE', 'MS PMincho', serif;
  --leading: 1.6;
  --leading-h: 1.4;

  --md: 768px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: var(--font);
  font-size: var(--text);
  line-height: var(--leading);
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  text-wrap: balance;
  line-height: var(--leading-h);
}

p {
  margin-top: 1lh;
}

a {
  /* color: rgb(var(--base-black)); */
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/* *:first-child {
  margin-top: 0 !important;
} */

