@import './reset.css';
@import './base.css';

.l-main {
  min-height: 72vh;
  padding: 0 5%;
}

.l-header .l-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}

.l-navList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  a {
    padding: 0;
  }
}

.l-navList {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.l-navList li:last-child a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.c-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.c-title svg {
  width: 20px;
}
